
<div class="row">
  <% @languages.each do |language, categories| %>
    <div class="col-md-<%= 12/@languages.count %>">
      <%= nested_li(categories) do |category| %>
        <% unless @icon_size.to_i.zero? %>
          <%= image_tag("#{category.icon_prefix}bg_#{@icon_size}#{category.icon_suffix}") %>
        <% end %>
        <%= link_to category.name, category_path(category), class: "btn hovers", role: "button", data: {category: category.uuid} %>
      <% end %>
    </div>
  <% end %>
</div>
