<h1>Foursquare <%= t(:categories) %></h1>

<div id="cattree">
  <%= nested_li(@categories) do |category| %>
    <% unless @icon_size.to_i.zero? %>
      <%= image_tag("#{category.icon_prefix}bg_#{@icon_size}#{category.icon_suffix}") %>
    <% end %>
    <%= link_to category.name, category_path(category) %>
  <% end %>
</div>
